<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney+ | Séries Modelo</title>
    <link rel="stylesheet" href="../styles.css/reset.css">
    <link rel="stylesheet" href="../styles.css/header.css">
    <link rel="stylesheet" href="../styles.css/footer.css">
    <link rel="icon" href="../images/icons/disney-plus-svgrepo-com.svg" type="image icon disney">
    <link rel="stylesheet" href="/styles.css/serieModelo.css">
    <link rel="stylesheet" href="../styles.css/global.css">

</head>

<body>
    <header id="header">
        <nav>
            <div class="logo">
                <a href="/index.html">
                    <img class="logo" src="../images/logo.svg" alt="Logo da disney">
                </a>
            </div>
            <ul>
                <li class="todas_li">
                    <a href="/index.html">
                        <img src="../images/icons/home-svgrepo-com.svg" alt="icone de home">
                        <span>Início</span>
                    </a>
                </li>
                <li class="todas_li">
                    <a href="/components/todosFilmes.html">
                        <img src="../images/icons/reel-2-svgrepo-com.svg" alt="icone de Filme">
                        <span>Filmes</span>
                    </a>
                </li>
                <li class="todas_li">
                    <a href="/components/todasSeries.html">
                        <img src="../images/icons/tv-svgrepo-com.svg" alt="icone de serie">
                        <span>Séries</span>
                    </a>
                </li>
                <li class="todas_li">
                    <img src="../images/icons/magnifying-glass-backup-svgrepo-com.svg" alt="icone de pesquisa">
                    <input type="text" placeholder="Pesquisar" href="../images/icons/magnifying-glass-backup-svgrepo-com.svg">
                </li>
            </ul>
        </nav>
        <div class="perfil_user">
            <span>Alice</span>
            <img src="../images/perfil-removebg-preview.png" alt="Imagem de perfil">
        </div>
    </header>
    <main>

        <div class="sinopse">
            <h1>T1:E1 Glorioso Propósito</h1>
            <p>Após roubar o Tesseract em "Vingadores: Ultimato, Loki conhece a Autoridade de Variância Temporal.</p>
        </div>
        <button class="assistir"> Assistir</button>
        <button class="trailer"> <a href="https://www.youtube.com/watch?v=xdBWrkcmMwU&pp=ygUZdHJhaWxlciBsb2tpIHRlbXBvcmFkYSAxIA%3D%3D" target="_blank">Trailer</a></button>
        <span class="ano">2021-2023 - 2 temporadas - Ficção cientifica, Fantasia</span>
        <div class="hd">
            <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v1/variant/disney/B8D865E2C27C15120BEA079C2490163A2BDAE0E41873483A29AF7AD0F78471D5/scale?format=webp&width=240" alt="botão hd">
        </div>
        <div class="cc">
            <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v1/variant/disney/656458F552CF2F626A33C340E36151D91F5339F62A26620DCFCAAA1E98B101CF/scale?format=webp&width=240" alt="botão cc">
        </div>
        <div class="dolby">
            <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v1/variant/disney/50F9A3DF52F869300E626272D34FFCC776D5A0931029F820A437F7DE6E90D4A3/scale?format=webp&width=240" alt="botão dolby">
        </div>
        <div class="poster">
            <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v1/variant/disney/89d8b447-b7ca-40c4-9713-80bc32de2ccf/trim?format=webp&max=800%7C300" alt="logo">
        </div>
        <div class="fundo">
            <img src="https://disney.images.edge.bamgrid.com/ripcut-delivery/v1/variant/disney/2b4d2c58-af30-4110-ba15-194d1456ed36/scale?aspectRatio=1.78&format=webp&width=1440" alt="fundo">
            <div class="gradiente"></div>
        </div>
        <div class="navegacao">
            <nav>
                <ul>
                    <li>
                        <a href="">Detalhes</a>
                    </li>
                    <li>
                        <a href="">Sugestões</a>

                    </li>
                </ul>
            </nav>
            <div>
                <div class="navegacao__linha_marcacao"></div>
                <div class="navegacao__linha"></div>
            </div>
            <div class="conteudo">
                <article class="navegacao__descricao_detalhada">
                    <h1>Loki</h1>
                    <span>
                        Em "Loki", da Marvel Studios, o temperamental vilão Loki (Tom Hiddleston) retoma seu papel como o Deus da Mentira nesta nova série, que ocorre após os eventos de "Vingadores: Ultimato". Kate Herron dirige, e Michael Waldron assina o roteiro.

                    Contém sequências de luzes que podem afetar pessoas fotossensíveis.
                    </span>
                </article>
                <div id="comentarios">
                    <h2>Comentários</h2>
                    <form action="#">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome">
                        <br>
                        <label for="comentario">Comentário:</label>
                        <textarea id="comentario" name="comentario"></textarea>
                        <br>
                        <button type="submit">Enviar</button>
                    </form>
                    <ul id="lista-comentarios">
                    </ul>
                </div>
            </div>
    </main>
    <footer class="footer">
        <div class=" footer_conteudo">
            <div class="logo">
                <a>
                    <img class="logo" src="../images/logo.svg" alt="Logo da disney">
                </a>
            </div>
            <div class="links">
                    <a href="">Política de privacidade</a>
                    <a href="">Proteção de dados no Brasil</a>
                    <a href="">Contrato de Assinatura</a>
                
            </div>
            <div class="texto"> 
                <p>
                    Disney+ é um serviço pago,
                    baseado em assinatura e sujeito a termos e condições.
                    O serviço Disney+ é comercializado por The Walt Disney Company
                    (Brasil) Ltda., World Trade Center, Av. Das Nações Unidas, 00.000, 00.000, 00.000, Piso 00,
                    São Paulo/SP - CEP 0000-000, Brasil e CNPJ/M 00.000.000/0000-00
                </p>


                <p>&copy; Disney. Todos os direitos reservados.</p>

            </div>
        </div>
    </footer>

</body>
<script src="../scripts/header.js"></script>

</html>