<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney+ | Todos os filmes</title>
    <link rel="stylesheet" href="../styles.css/reset.css">
    <link rel="stylesheet" href="../styles.css/header.css">
    <link rel="stylesheet" href="../styles.css/footer.css">
    <link rel="icon" href="/images/icons/disney-plus-svgrepo-com.svg" type="image icon disney">
    <link rel="stylesheet" href="/styles.css/todosFilmes.css">
    <link rel="stylesheet" href="../styles.css/global.css">
</head>

<body>
    <header id="header">
        <nav>
            <div class="logo">
                <a href="/index.html">
                    <img class="logo" src="../images/logo.svg" alt="Logo da disney">
                </a>
            </div>
            <ul>
                <li class="todas_li">
                    <a href="/index.html">
                        <img src="../images/icons/home-svgrepo-com.svg" alt="icone de home">
                        <span>Início</span>
                    </a>
                </li>
                <li class="todas_li">
                    <a href="">
                        <img src="../images/icons/reel-2-svgrepo-com.svg" alt="icone de Filme">
                        <span>Filmes</span>
                    </a>
                </li>
                <li class="todas_li">
                    <a href="/components/todasSeries.html">
                        <img src="../images/icons/tv-svgrepo-com.svg" alt="icone de serie">
                        <span>Séries</span>
                    </a>
                </li>
                <li class="todas_li">
                    <img src="../images/icons/magnifying-glass-backup-svgrepo-com.svg" alt="icone de pesquisa">
                    <input type="text" placeholder="Pesquisar" href="../images/icons/magnifying-glass-backup-svgrepo-com.svg">
                </li>
            </ul>
        </nav>
        <div class="perfil_user">
            <span>Alice</span>
            <img src="/images/perfil-removebg-preview.png" alt="Imagem de perfil">
        </div>
    </header>
    <div class="titulo">
        <h1 id="titulo">Filmes</h1>
    </div>

    <main>
        <div class="films">
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/15A4BC0BAD7442F99A2F6C2CE66B99C99E535BF9690A256DAB29C6EDF1B04866/scale?width=400&aspectRatio=1.78&format=jpeg" alt="capa para filme 101 dálmatas">
            </a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/17FDDDF0473CA8C0676B396F7A65F22DFF99011995883BE70C07F216DE1706BF/scale?width=400&aspectRatio=1.78&format=jpeg" alt="capa do filme vida de inseto"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3055574AA00584A3E2B290B16A58F1BAD474CBB9A5753530F90D1CE2B7319DA1/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme do Pateta"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/69059B44A41458D13A5F47BBE7DB0880DD6BB8F250221B5F0266CE507D875338/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme do Aladdin"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/FEF6E538FB86E83A8E16B864FE54CDA6F5C2229A9EAD5995BA91664B3EF0CBC8/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme ratatouille"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/C696DEB9B985C90EF0E88A60A21C4E4FE89EB2B5E4E8BC31B31EE75E2C493EA0/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme Alice no país das maravilhas"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1AFB185805C717B316659B0037B3CA187DD69ED3B3223FF52995CCAB0DC195DC/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme carros"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/0AF80E9D2A7D694ECE09B7C3CC2639ABCA027111575E256C159E85B38AC8AB2F/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme anastasia"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/78D6AE2E7B258915D08A7113A05E709CCBFE04AA4BB5C58B275FEBB9ABE4FC53/badging?width=400&aspectRatio=1.78&format=jpeg&label=disneyplusoriginal" alt="Capa do filme diário de um banana"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/4C611565C8A238B40A716F94C3D25A56F65DE5147AD279640FCD09E840F91332/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme a dama e o vagabundo"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/E938DB295B5F05541AFFEBAC0D55D16F8B169B98A2FE889C4E3C401140110643/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme Frozen"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/91C45F16F7585B78672D4238AA982839AD06FEC1FAFF3700EC1D42B5E7051FA9/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme operação big hero"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/D34EE7CDCF5C367A5BDD7ACD129690236F3AD18A55F82A8BA33770C1FAAC1636/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme Tigrão o filme"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/94615C1A696551C5100CBE3F90ECAE13F562405C2FBDC0C49365971F5EF5DDA4/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme nem que a vaca tussa"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/BB965925BB3F1920BB35F9B360AE112F9B161C61B69C0FE9E2D0548CA33B9C33/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Garfield2"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/06BA41EF1550570926B89C71F6EBA3E555DB31F3631BC62A30722046F912C293/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme rei leão"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/FF4FAFFCF9914FF5ADE9309C32509C11AA267DD6DE12B2553DCE33684B7F5C1C/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme os incríveis"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/8F765A126EA1ECAC667EEB7CB397A956F6FB1D37F63CCC5940927E3847F01052/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme a era do gelo"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/49D13FC6E74902009A678BC90451521E4DA9B1A4116D89080BA0A3D0E49125FC/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme a princesa e o sapo"></a>
            <a class="item-films" href="/components/filmeModelo.html">
                <img class="item" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/F4C30DD8F018FA9DB65E015CAE10C66FD72BE870F39D780222629A2A1B2EB765/scale?width=400&aspectRatio=1.78&format=jpeg" alt="Capa do filme deadpoll"></a>
            <div>
    </main>
    <footer class="footer">
        <div class=" footer_conteudo">
            <div class="logo">
                <a>
                    <img class="logo" src="../images/logo.svg" alt="Logo da disney">
                </a>
            </div>
            <div class="links">
                <a href="">Política de privacidade</a>
                <a href="">Proteção de dados no Brasil</a>
                <a href="">Contrato de Assinatura</a>

            </div>
            <div class="texto">
                <p>
                    Disney+ é um serviço pago,
                    baseado em assinatura e sujeito a termos e condições.
                    O serviço Disney+ é comercializado por The Walt Disney Company
                    (Brasil) Ltda., World Trade Center, Av. Das Nações Unidas, 00.000, 00.000, 00.000, Piso 00,
                    São Paulo/SP - CEP 0000-000, Brasil e CNPJ/M 00.000.000/0000-00
                </p>


                <p>&copy; Disney. Todos os direitos reservados.</p>

            </div>
        </div>
    </footer>
</body>
<script src="/scripts/header.js"></script>

</html>